@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(/Fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: font2;
    src: url(/Fonts/Lausanne-500.woff2);
}


/* body{
    background-color: #111;
    color: #FFFFFF;
} */

.moveX {
    animation: moveAnimation 7s linear infinite;
    animation-play-state: paused;
}

.moveLink {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.link:hover .moveLink {
    opacity: 1;
    transform: translateY(0);
}

.link:hover .moveX {
    animation-play-state: running;
}

@keyframes moveAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
